@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

@layer base {
  button {
    background: none;
  }
}
